<div class="my-5">
  <footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Whats App -->
        <a
          href="#!"
          class="btn btn-primary btn-floating m-1"
          role="button"
          id="whatsapp"
        >
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <!-- Linkedin -->
        <a
          class="btn btn-primary btn-floating m-1"
          href="#!"
          role="button"
          id="linkedin"
          ><i class="fa-brands fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-primary btn-floating m-1"
          href="#!"
          role="button"
          id="github"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(34, 46, 80)">
      Ivan Pfeiffer Gonzalez Vazquez 2024
    </div>
    <!-- Copyright -->
  </footer>
</div>
<body />
<html />
